<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f0795c0d98.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="funciona.component.css">
    <title>¿Cómo funciona?</title>
</head>
<style>
    body {
        background-color: #E0EEFA;
    }
</style>
<body>
    <!--BARRA DE NAVEGACION-->
    <header>
        <nav>
            <div>
                <img src="../../../../res/img/logo.png" class="logo">
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active" href="http://localhost/Final/">Ingresar</a></li>
                <li><a href="../sobre/sobre.component.html">Sobre CusCo</a></li>
                <li><a class="active">¿Cómo funciona?</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-pp">
        <div class="container-p">
            <p>¿Cómo funciona?</p>
        </div>
    </div>

    <div class="stack-1">
        <div class="stack-1-1">
            <div class="stack-img1">
                <img src="../../../../res/img/pi2.png" class="img-1">
            </div>

            <div class="desc-1">
                <div class="desc-1-p">
                    <p>La Raspberry Pi es una seria de ordenadores de placa reducida, ordenadores de placa única u
                        ordenadores de placa simple de bajo coste desarrollado en Reino Unido por la Raspberry Pi
                        Foundation, con el objetivo de poner en manos de las personas de todo el mundo el poder de la
                        informática y la creación digital.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="stack-2">
        <div class="stack-2-2">


            <div class="desc-2">
                <div class="desc-2-p">
                    <p> Los sensores son herramientas que detectan y responden a algún tipo de información del entorno físico. 
                        Existe una amplia gama de sensores utilizados en la vida diaria, 
                        que se clasifican según las cantidades y características que detectan.</p>
                </div>
            </div>
            <div class="stack-img1">
                <img src="../../../../res/img/sensor.jpg" class="img-2">
            </div>
        </div>
    </div>

    <div class="stack-1">
        <div class="stack-1-1">
            <div class="stack-img1">
                <img src="../../../../res/img/display.png" class="img-3">
            </div>

            <div class="desc-1">
                <div class="desc-1-p">
                    <p>El LSD es parte de un tipo de drogas llamado alucinógenos. 
                        Estas son sustancias que provocan alucinaciones. Las alucinaciones son cosas que usted ve, escucha o siente estando despierto que parecen reales, 
                        pero en lugar de serlo, han sido creadas por la mente. El LSD es un alucinógeno muy poderoso..</p>
                </div>
            </div>
        </div>
    </div>

    <div class="stack-2">
        <div class="stack-2-2">


            <div class="desc-2">
                <div class="desc-2-p">
                    <p>La Raspberry Pi es una seria de ordenadores de placa reducida, ordenadores de placa única u
                        ordenadores de placa simple de bajo coste desarrollado en Reino Unido por la Raspberry Pi
                        Foundation, con el objetivo de poner en manos de las personas de todo el mundo el poder de la
                        informática y la creación digital.</p>
                </div>
            </div>
            <div class="stack-img1">
                <img src="../../../../res/img/transistor.png" class="img-4">
            </div>
        </div>
    </div>

    <div class="stack-1">
        <div class="stack-1-1">
            <div class="stack-img1">
                <img src="../../../../res/img/led.png" class="img-5">
            </div>

            <div class="desc-1">
                <div class="desc-1-p">
                    <p>La Raspberry Pi es una seria de ordenadores de placa reducida, ordenadores de placa única u
                        ordenadores de placa simple de bajo coste desarrollado en Reino Unido por la Raspberry Pi
                        Foundation, con el objetivo de poner en manos de las personas de todo el mundo el poder de la
                        informática y la creación digital.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="stack-2">
        <div class="stack-2-2">


            <div class="desc-2">
                <div class="desc-2-p">
                    <p>La Raspberry Pi es una seria de ordenadores de placa reducida, ordenadores de placa única u
                        ordenadores de placa simple de bajo coste desarrollado en Reino Unido por la Raspberry Pi
                        Foundation, con el objetivo de poner en manos de las personas de todo el mundo el poder de la
                        informática y la creación digital.</p>
                </div>
            </div>
            <div class="stack-img1">
                <img src="../../../../res/img/computacion-en-la-nube.png" class="img-6">
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/telefono.png" class="footer-img">
                </div>

                <span class="menu-title">5512345678</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/facebook.png" class="footer-img">
                </div>

                <span class="menu-title">CusCo_Of</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/email.png" class="footer-img">
                </div>

                <span class="menu-title">cusco@gmail.com</span>
            </div>

        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2021, cusco.com. Todos los derechos reservados.</span>
        </div>
    </footer>

</body>

</html>