<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f0795c0d98.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="historial.component.css">
    <title>Historial</title>
</head>

<body>
    <!--BARRA DE NAVEGACION-->
    <header>
        <nav>
            <div>
                <img src="../../../../res/img/logo.png" class="logo">
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active" href="../../../index.html">Cerrar sesión</a></li>
                <li><a href="../sobre/sobre.component.html" class="active">Sobre CusCo</a></li>
                <li><a href="../funciona/funciona.component.html">¿Cómo funciona?</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-pp">
        <div class="container-p">
            <p>Historial</p>
        </div>
    </div>

    <div class="stack">
        <div class="stack-1">
            <div class="container">
                <table class="container">
                    <thead class="header-t">
                        <tr>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--La funcion ngfor nos sirve para crear un for y esto es gracias a la libreria NgForm-->
                        <tr *ngFor="let sensor of sensorService.sensor">
                            <td>{{ sensor.sensor }}</td>
                            <td>{{ sensor.fecha }}</td>
                            <td>{{ sensor.hora }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="btns">
                <h3>Filtrar por:</h3>
                <a class="e" href="../historial-entrada/historial-entrada.component.html">Entradas</a>
                <a class="s" href="../historial-salida/historial-salida.component.html">Salidas</a>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/telefono.png" class="footer-img">
                </div>

                <span class="menu-title">5512345678</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/facebook.png" class="footer-img">
                </div>

                <span class="menu-title">CusCo_Of</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/email.png" class="footer-img">
                </div>

                <span class="menu-title">cusco@gmail.com</span>
            </div>

        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2021, cusco.com. Todos los derechos reservados.</span>
        </div>
    </footer>

</body>

</html>