<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f0795c0d98.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="ajustes.component.css">
    <title>Sobre CusCo</title>
</head>
<style>
    body {
        background-color: #E0EEFA;
    }
</style>
<body>
    <!--BARRA DE NAVEGACION-->
    <header>
        <nav>
            <div>
                <img src="../../../../res/img/logo.png" class="logo">
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active" href="http://localhost/Final/">Cerrar sesión</a></li>
                <li><a href="../sobre/sobre.component.html" class="active">Sobre CusCo</a></li>
                <li><a href="../funciona/funciona.component.html">¿Cómo funciona?</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-pp">
        <div class="container-p">
            <p>Ajustes</p>
        </div>
    </div>

    <div class="container">
        <div class="container-c">
            <h1>Bienvenidos a la selección de ajustes.</h1>
            <h3>Modificar el límite de personas:</h3>
            <div class="num">
                <div class="cont-a">
                    <p id="actual"></p>
                </div>
                <div class="cont-n">
                    <input id='nuevolimite' placeholder="Nuevo">
                </div>
            </div>

            <div class="cent">
                <p class="q">ACTUAL</p>
                <p class="w">NUEVO</p>
            </div>

            <div>
                <a href="../cambiar-code/cambiar-code.component.php" class="aa">Cambiar el código de acceso</a>
                <a id='guardar'class="ac">Actualizar cambios</a>
            </div>
        </div>
    </div>



    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/telefono.png" class="footer-img">
                </div>

                <span class="menu-title">5512345678</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/facebook.png" class="footer-img">
                </div>

                <span class="menu-title">CusCo_Of</span>
            </div>

            <div class="footer-content-container">
                <div class="img-p">
                    <img src="../../../../res/img/email.png" class="footer-img">
                </div>

                <span class="menu-title">cusco@gmail.com</span>
            </div>

        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2021, cusco.com. Todos los derechos reservados.</span>
        </div>
    </footer>

</body>

</html>
<script type="text/javascript" src="../../../../scripts/ajustes.js?v1.0.0"></script>